@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,200&display=swap");

body {
  background: whitesmoke;
  -wekit-font-smoothing: antialiased;
  font-family: "Mulish", sans-serif;
}

.comment__box{
    list-style: none;
    padding-left: 0;
}

.comment__box .comment h6{
    font-weight: 800;
}

p {
    font-size: 16px;
}

.card-body img{
    height: 15px;
    width: 15px;
}

.btn__float{
    float: right;
}
.comment{
    animation: something .6s ease forwards;
}

textarea{
    resize: none;
}

@keyframes something{
    0%{
        transform: translateY(-30px);
        opacity: 0;
    }

    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}